*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.image {
  width: 20%;
  height: 20%;
  border: 5px solid #483D03;
  display: inline-block;
  margin: 10px;
  background-color: #FAF3DD;
}

img {
  width: 100%;
  padding: 10px;
  height: 400px;
  object-fit: cover;
  display: inline-block;
  border-radius: 20px;
}

.name {
  color: #483D03;
  font-size: 25px;
  font-weight: bold;
  font-family: "Lucida Console", Monaco, monospace;
  background-color: none;
  text-align: center;
  top: 85%;
  width: 100%;
}

.image:hover{
  background-color: #ABA194;
}

.image:active {
  background-color: #8C271E;
}

.titlebar {
  width: 80%;
  display: inline-block;
  background-color: #e4007c;
  font-family: 'Lemon', cursive;
  font-size: 90px;
  color: white;
  border-left: 10px solid #fff600;
  border-bottom: 10px solid #48D1CC;
  text-shadow: 1px 3px 2px #fff600;
  border-radius: 20px;
}
